@import 'tailwindcss';

@theme {
  --color-primary: #004aad;
  --color-primary-dark: #003c7e;
  --color-primary-light: #0053c7;
  --color-secondary: #f9c34a;
}

@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Raleway', serif;
}
